@charset "UTF-8";

        body{
            background-color: #3d5f41;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
        h1{
            color: #0066ff;
            background-color: #6d3a07;
        }
        h2{
            color: #e5ff00;
        }
        p{
            text-align: justify;
        }
    